<<<<<<< HEAD
 {% extends 'base.html.twig' %}
{% block body_id 'profile' %}
 {% block main %}

     <h1>Hello, {{ user.fullName }}</h1>
     <a href="{{ path('user_mailbox') }}"><span class="glyphicon glyphicon-envelope">{{ messageCount }}</span> </a>

=======
 {% extends 'base.html.twig' %}
{% block body_id 'profile' %}
 {% block main %}

     <h1>Hello, {{ user.fullName }}</h1>
     <a href="{{ path('user_mailbox') }}"><span class="glyphicon glyphicon-envelope">{{ messageCount }}</span> </a>

>>>>>>> fda21f45e5f6597f4f892dacfe0669d34d72f089
 {% endblock %}