{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-description span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" enctype="multipart/form-data" action="{{ path('article_create') }}" method="POST">
                <fieldset>
                    <legend>New Product</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_name">Product name</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_name" placeholder="Product name"
                                   name="article[name]">
                        </div>
                    </div>

                    {#<div class="form-group">#}
                        {#<label class="col-sm-4 control-label" for="category_name">Category</label>#}
                        {#<div class="col-sm-4 ">#}
                            {#<input type="text" class="form-control" id="category_name" placeholder="Category"#}
                                   {#name="category[name]">#}
                        {#</div>#}

                    {#</div>#}

                    <div>


                            <meta name="viewport" content="width=device-width, initial-scale=1">
                            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                            <style>
                                .dropdown-submenu {
                                    position: relative;
                                }

                                .dropdown-submenu .dropdown-menu {
                                    top: 0;
                                    left: 100%;
                                    margin-top: -1px;
                                }
                            </style>



                        <div class="container">

                            <p>Category</p>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select a category
                                    <span class="caret"></span></button>
                                <ul class="dropdown-menu">



                                    <li class="dropdown-submenu">

                                        {% for category in categories %}
                                        {% if category.parent == null %}
                                    <li>
                                        <a href="{{ category.id }}">{{ category.catName }}</a>
                                        {% if category.children|length > 0 %}
                                            <ul>
                                                {% for cat in category.children %}
                                                    <li>
                                                        <a tabindex="-1" href="{{ cat.id }}">{{ cat.catName }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                        {#<a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>#}
                                        {#<ul class="dropdown-menu">#}
                                            {#<li><a tabindex="-1" href="#">2nd level dropdown</a></li>#}
                                            {#<li><a tabindex="-1" href="#">2nd level dropdown</a></li>#}
                                            {#<li class="dropdown-submenu">#}
                                                {#<a class="test" href="#">Another dropdown <span class="caret"></span></a>#}
                                                {#<ul class="dropdown-menu">#}
                                                    {#<li><a href="#">3rd level dropdown</a></li>#}
                                                    {#<li><a href="#">3rd level dropdown</a></li>#}
                                                {#</ul>#}
                                            {#</li>#}
                                        {#</ul>#}




                                    </li>
                                </ul>
                            </div>
                        </div>

                        <script>
                            $(document).ready(function(){
                                $('.dropdown-submenu a.test').on("click", function(e){
                                    $(this).next('ul').toggle();
                                    e.stopPropagation();
                                    e.preventDefault();
                                });
                            });
                        </script>










                        {#<label class="col-sm-4 control-label" for="parentCat_name">Category</label>#}
                        {#<ul>#}
                            {#{% for category in categories %}#}
                                {#{% if category.parent == null %}#}
                                    {#<li>#}
                                        {#<a href="{{ category.id }}">{{ category.name }}</a>#}
                                        {#{% if category.children|length > 0 %}#}
                                            {#<ul>#}
                                                {#{% for category in category.children %}#}
                                                    {#<li>#}
                                                        {#<a href="{{ category.id }}">{{ category.name }}</a>#}
                                                    {#</li>#}
                                                {#{% endfor %}#}
                                            {#</ul>#}
                                        {#{% endif %}#}
                                    {#</li>#}
                                {#{% endif %}#}
                            {#{% endfor %}#}
                        {#</ul>#}
                    </div>

<hr/>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_description">Product description</label>
                        <div class="col-sm-6">
                        <textarea class="form-control" rows="6" id="article_description" placeholder="Product description"
                                  name="article[description]"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_image">Image</label>
                        <div class="col-sm-4 ">
                            <input type="file" accept=".image/gif, .jpeg, .png, .jpg" class="form-control" id="article_image" placeholder="Image"
                                   name="article[image]">
                        </div>
                    </div>

                    {{ form_row(form._token) }}

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('blog_index') }}">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}